:root {
  --foreground: #000;
  --background: #fff;
  --card: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
    --card: #1f1f1f;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Pretendard-Regular', sans-serif;
  box-sizing: border-box;
  transition: transform .5s ease;
  -o-transition: transform .5s ease;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.mbti {
  font-family: 'LOTTERIACHAB', sans-serif;
}

.mbti:hover {
  transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.7;
}

.handwriting {
  font-family: 'Cafe24Shiningstar', sans-serif;
  font-size: 22px;
}

h4 {
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.nav {
  position: absolute;
  bottom: 80px;
}

.nav a {
  text-decoration: none;
}

.nav a::after {
  content: ' →';
}

.tag {
  border-radius: 30px;
  font-weight: bold;
  padding: 0 10px;
}

.tag.green {
  background-color: rgb(46, 252, 155);
  color: #000;
}

.tag.blue {
  background-color: rgb(46, 118, 252);
  color: #fff;
}

.tag.yellow {
  background-color: rgb(255, 205, 41);
  color: #000;
}

.tag.pink {
  background-color: rgb(255, 122, 122);
  color: #000;
}

img.lang-tag {
  border-radius: 10px;
  height: 25px;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: rgb(9, 185, 103);
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
}

section {
  padding: 50px;
}

section.left {
  width: 25%;
  height: 100%;
  float: left;
  line-height: 0.3;
}

section.right {
  width: 75%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  float: right;
}

.card-container {
  display: grid;
  grid-gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  position: relative;
  background-color: var(--card);
  border-radius: 20px;
  padding: 20px;
  font-size: 1.2rem;
  min-height: 100px;
}

.card:hover {
  transform: scale(1.02);
  -o-transform: scale(1.02);
}

.card h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.card .image {
  position: absolute;
  bottom: 0px;
  right: 20px;
  border-radius: 20px;
}

.card-1x1 {
  grid-row-end: span 1;
  grid-column-end: span 1;
}

.card-2x1 {
  grid-row-end: span 1;
  grid-column-end: span 2;
}

#only-mobile {
  display: none;
}

@media (max-width: 768px) {

  html,
  body {
    overflow: auto;
  }

  section {
    padding: 20px;
  }

  section.left {
    width: 100%;
    height: fit-content;
    float: none;
    padding: 30px;
  }

  section.right {
    width: 100%;
    height: fit-content;
    float: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #only-pc {
    display: none;
  }

  #only-mobile {
    display: block;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    padding-bottom: 10%;
  }

  .card-2x1 {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
}

.play-pause-button {
  background-color: #fff;
  color: #000;
  width: 40px;
  height: 40px;
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}


.play-pause-button:hover {
  transform: scale(1.1);
  -o-transform: scale(1.1);
}

.play-pause-button:active {
  transform: scale(0.9);
  -o-transform: scale(0.9);
}